---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
<!--		<Header />  -->
		<main>
			
<p>Rakesh is a Principal Engineer / Director at Google DeepMind working on Gemini’s Inference Efficient models. He is a core contributor of Gemini 1.5, 2 and 2.5.<\p>

<p>He is the Co-lead for Pretraining Gemini:</p>
<ul>
<li>Flash 1.5 and Flash-8B
<li>Model powering AI Overviews in Search
<li>On-device Nano3 / Gemma 3n

<p>Before that he was in Google Brain leading Resource Efficient ML team, optimizing Search Ads pCTR ranking model, and led ~5x reduction in resource footprint with $XB / yr revenue.<\p>
		</main>
<!--		<Footer />  -->
	</body>
</html>
